<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
      <div class=" image d-flex flex-column justify-content-center align-items-center c-user-nav">  <span class="name mt-3">Hey User123 </span>
          <div class="text mt-3">
            <span class="menu-link-icon user-orders"
            style="background-image: none;">
            <svg role="presentation" width="24" height="24"
            viewBox="0 0 24 24" fill="none">
            <path d="M16.2764 9.44721L16.7236 9.67082L17.1708 8.77639L16.7236 8.55279L16.2764 9.44721ZM16.7236 8.55279L7.72361 4.05279L7.27639 4.94721L16.2764 9.44721L16.7236 8.55279Z" fill="black"></path><path d="M21.5 7V17L12 21.5L2.5 17V7L12 2.5L21.5 7Z" stroke="black" stroke-linecap="round"></path><path d="M12 21.5V11.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.5 7L12 11.5L21.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path></svg></span>
            <span class="menu-link-text"> Shopping cart</span>
          </div>
          <div class="text mt-3">
            <span class="menu-link-icon user-personal-data" style="background-image: none;"><svg role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M20 15V11C20 6.58172 16.4183 3 12 3V3V3C7.58172 3 4 6.58172 4 11V12.12" stroke="black" stroke-linejoin="round"></path><path d="M17 17V11C17 8.23858 14.7614 6 12 6V6C9.23858 6 7 8.23858 7 11V15.087" stroke="black" stroke-linejoin="round"></path><path d="M20 17V22" stroke="black"></path><path d="M17 19V22" stroke="black"></path><path d="M7 17V22" stroke="black"></path><path d="M4 14V22" stroke="black"></path><path d="M14 15V11C14 9.89543 13.1046 9 12 9V9V9C10.8954 9 10 9.89543 10 11V13" stroke="black" stroke-linejoin="round"></path><path d="M14 17L14 22" stroke="black"></path><path d="M10 15V22" stroke="black"></path></svg></span>
            <span class="menu-link-text"> Personal info </span>
          </div>

          <div class="text mt-3">
            <p class="menu-link-text"> Name : John Carl </p>
            <p class="menu-link-text"> Last name : Doe </p>
            <p class="menu-link-text"> Shipping address : 202 Main St </p>
          </div>

          <div class=" px-2 rounded mt-4 date "> <span class="join">Joined May,2021</span> </div>
      </div>
  </div>
</div>

