<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" routerLink='/homepage'>Random Prints</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink='/homepage'>Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink='/products'>Products</a></li>
              <li class="nav-item"><a class="nav-link" routerLink='/profile'>Profile</a></li>

          </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item">
                <a class="nav-link"  routerLink='/cart'
                >
                    <svg role="presentation" width="24" height="24"
                   viewBox="0 0 24 24" fill="none">
                   <path d="M16.2764 9.44721L16.7236 9.67082L17.1708 8.77639L16.7236 8.55279L16.2764 9.44721ZM16.7236 8.55279L7.72361 4.05279L7.27639 4.94721L16.2764 9.44721L16.7236 8.55279Z" fill="black"></path><path d="M21.5 7V17L12 21.5L2.5 17V7L12 2.5L21.5 7Z" stroke="black" stroke-linecap="round"></path><path d="M12 21.5V11.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.5 7L12 11.5L21.5 7" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path></svg> <span class="badge bg-dark text-white ms-1"> {{showIncrem}} </span>
                </a>
              </li>
            </ul>

          </form>
      </div>
  </div>
</nav>


